  depends_on     = ["aws_iam_policy_attachment.spotfleet"]
  iam_fleet_role = "${aws_iam_role.spotfleet.arn}"
  spot_price          = "${var.spot_price}"
  target_capacity     = "${var.target_capacity}"
  allocation_strategy = "${var.allocation_strategy}"
  valid_until         = "${var.valid_until}"
